//------------------------------------------------------------base styles
html {
	height: 100%;
	font: 400 10px/1.33 $font_1;
}

body {
	position: relative;
	height: 100%;
	font-size: $font_size_base;
	color: $color_text_base;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $white;

	&.menu_open {
		overflow: hidden;
		.header_nav {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
		@include bp($point_6, max) {
			.fog {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
}

.base {
	position: relative;
	padding: 0 0 $height_footer;
}

.content_wrapper {
	width: 100%;
	max-width: $page_width;
	margin: 0 auto;
	padding: 0 $gl_indent;
}

a {
	text-decoration: none;
	color: $color_link_base;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.elements_list {
	padding: 3rem;
}

//------------------------------------------------------------base styles###