//------------------------------------------------------------base styles
html {
	height: 100%;
	font: 400 10px/1.33 $font_1;
}

body {
	position: relative;
	height: 100%;
	font-size: $font_size_base;
	color: $color_text_base;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $white;

	&.menu_open {
		overflow: hidden;
		.header_nav {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
		@include bp($point_6, max) {
			.fog {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&.inner_bg_mod {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-image: url('../i/subheader-img.jpg');
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: cover;
			pointer-events: none;
		}
		&::after {
			content: '';
			position: absolute;
			top: $height_header;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: $white;
			pointer-events: none;
			opacity: .98;
		}
	}
}

.wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
}

.base {
	position: relative;
	padding: 0 0 $height_footer;

	@include bp($point_7, max) {
		padding-bottom: 0;
	}
}

.content_wrapper {
	width: 100%;
	max-width: $page_width;
	margin: 0 auto;
	padding: 0 $gl_indent;
}

a {
	text-decoration: none;
	color: $color_link_base;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.elements_list {
	padding: 3rem;
}

//------------------------------------------------------------base styles###