extends _layout

block vars
	- var array = {body_class:'gallery_page inner_bg_mod3', layout_mod:'', sub_keywords:'',title_inner:'Gallery'}
block content_block
	section.section_inner.second_mod
		.content_wrapper
			h1.section_title.inner_mod Tur de rezervare
			.rezerv_wrapper